<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel = "stylesheet" href = "/SimpleShop/Styles/aboutusStyles.css">
</head>
<body>
    <div id = "box10"><a href = "/SimpleShop">Home</a></div>
    <div id = "box1"><a href = "/SimpleShop/Shirts">Shirts</a></div>
    <div id = "box2"><a href = "/SimpleShop/Shoes">Shoes</a></div>
    <div id = "box3"><a href = "/SimpleShop/Bags">Bags</a></div>
    <div id = "box4"><a href = "/SimpleShop/Help">Help</a></div>
    <div id = "box5">Welcome!</div>
    <div id = "box6">This is my first experience of designing a website.
     There were some problems, unexpected things, problems for which I
     still could not find solutions, but of course there was also a sense
     of passion and curiosity that I found out during the development.
     I really hope that you will have comfortable and satisfying interaction
     with this website. Good luck!!!</div>
    <div id = "box8">2nd year student</div>
    <div id = "box9">SimpleShop</div>
</body>
</html>
